{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta charset="utf-8" />
  <title>Grocer</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
  <link rel="icon" type="image/x-icon" href="{% static 'testapp/favicon.ico' %}" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link href="{% static 'assets/plugins/pace/pace-theme-flash.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/plugins/jquery-scrollbar/jquery.scrollbar.css' %}" rel="stylesheet" type="text/css"
    media="screen" />
  <link href="{% static 'assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css"
    media="screen" />
  <link href="{% static 'assets/plugins/switchery/css/switchery.min.css' %}" rel="stylesheet" type="text/css"
    media="screen" />
  <link href="{% static 'assets/plugins/nvd3/nv.d3.min.css' %}" rel="stylesheet" type="text/css" media="screen" />
  <link href="{% static 'assets/plugins/mapplic/css/mapplic.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/plugins/rickshaw/rickshaw.min.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" type="text/css"
    media="screen">
  <link href="{% static 'assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet"
    type="text/css" media="screen">
  <link href="{% static 'assets/plugins/jquery-datatable/media/css/dataTables.bootstrap.min.css' %}" rel="stylesheet"
    type="text/css" />
  <link
    href="{% static 'assets/plugins/jquery-datatable/extensions/FixedColumns/css/dataTables.fixedColumns.min.css' %}"
    rel="stylesheet" type="text/css" />
  <link href="{% static 'assets/plugins/datatables-responsive/css/datatables.responsive.css' %}" rel="stylesheet"
    type="text/css" media="screen" />
  <link href="{% static 'assets/css/dashboard.widgets.css' %}" rel="stylesheet" type="text/css" media="screen" />
  <link href="{% static 'pages/css/pages-icons.css' %}" rel="stylesheet" type="text/css">
  <link class="main-stylesheet" href="{% static 'pages/css/themes/modern.css' %}" rel="stylesheet" type="text/css" />
</head>

<body class="fixed-header horizontal-menu horizontal-app-menu dashboard">
  {% include 'testapp/nav.html' %}
</body>

</html>