 <!-- START card -->
                      <div class="card card-transparent">
                        <div class="card-header ">
               <!--           <div class="card-title">Thank you for your generosity.
                          </div> -->
                        </div>
                        <div class="card-body">
                          <h3>Request Confirmation</h3>
                          <p>Thank you for your request. Food Barnes has your requested food, with an expiration date of May 7th. Please call the donor to confirm.  </p>
                          <p>
                            We will keep your additional requests (if any additional) and will notify you by phone.
                          </p>
                          <div>
                      
                            </div>
                            <div class="inline m-l-10">
                              <p class="small hint-text m-t-5">“The war against hunger is truly mankind’s war of liberation.” 
                                <br>-John F. Kennedy</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END card -->