 <!-- START card -->
                      <div class="card card-transparent">
                        <div class="card-header ">
               <!--           <div class="card-title">Thank you for your generosity.
                          </div> -->
                        </div>
                        <div class="card-body">
                          <h3>Donation Confirmation</h3>
                          <p>Thank you for your list of available food for donation. Hungry Food Group has requested non-parishables, please call them to confirm.  </p>
                          
                          <p>
                             We will keep your donation list.
                          </p>
                          <div>
                      
                            </div>
                            <div class="inline m-l-10">
                              <p class="small hint-text m-t-5">“The war against hunger is truly mankind’s war of liberation.” 
                                <br>-John F. Kennedy</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- END card -->