{% load static %}
<div class="header p-r-0 bg-primary">
  <div class="header-inner header-md-height">
    <a href="#" class="btn-link toggle-sidebar d-lg-none pg pg-menu text-white" data-toggle="horizontal-menu"></a>
    <div class="">
      <div class="brand inline no-border d-sm-inline-block">
        <img src="{% static 'assets/img/logo_white.png' %}" alt="logo" data-src="assets/img/logo_white.png"
          data-src-retina="{% static 'assets/img/logo_white_2x.png' %}" width="78" height="22">
      </div>

      {% include 'testapp/notifs.html' %}
      
      <!-- Search bar -->
      <a href="#" class="search-link d-lg-inline-block d-none" data-toggle="search"><i class="pg-search"></i>Type
        anywhere to <span class="bold">search</span></a>
    </div>
  </div>
</div>