<!-- START card -->
                <div class="card card-default">
                  <div class="card-header ">
                    <center>
                    <div class="card-title">
                      
                      <h1>
                      Sign up
                    </h1>

                    </div>
                  </div>
                  </center>
                  <div class="card-body">
                   
                    <form class="" role="form">
                      <div class="form-group form-group-default required ">
                        <label>Full Name</label>
                        <input type="email" class="form-control" required>
                      </div>
                    
                      <div class="form-group  form-group-default required">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="ex: some@example.com" required>
                      </div>
                        <div class="form-group form-group-default required ">
                        <label>Password</label>
                        <input type="email" class="form-control" required>
                      </div>
                        <div class="form-group form-group-default required ">
                        <label>Confirm Password</label>
                        <input type="email" class="form-control" required>
                      </div>


                 <!--     <div class="form-group form-group-default disabled">
                        <label>Disabled</label>
                        <input type="email" class="form-control" value="You can put anything here" disabled>
                      </div> -->
                    </form>
                  </div>
                </div>
                <!-- END card -->