<!-- START card -->
                <div class="card card-default">
                  <div class="card-header ">
                    <center>
                    <div class="card-title">
                      
                      <h1>
                      Food Request Information
                    </h1>

                    </div>
                  </div>
                  </center>
                  <div class="card-body">
                   
                    <form class="" role="form">
                      <div class="form-group form-group-default required ">
                        <label>Business Name</label>
                        <input type="email" class="form-control" required>
                      </div>
                    
                      <div class="form-group  form-group-default required">
                        <label>Address</label>
                        <input type="email" class="form-control" required>
                      </div>
                        <div class="form-group form-group-default required ">
                        <label>Phone Number</label>
                        <input type="email" class="form-control" required>
                      </div>
                       <!-- <div class="form-group form-group-default required ">
                        <label>Food Availible</label>
                        <input type="email" class="form-control" required>
                      </div> 
                       <h5>
              Food Availible
            </h5>-->
                    <div class="form-group form-group-default form-group-default-select2">
      <label>Food Available</label>
      <select class=" full-width" data-init-plugin="select2" multiple>
        {% for f in foods %}
        <option value="{{f.id}}">{{f.name}}</option>
        {% endfor %}
      </select>
    </div>


                 <!--     <div class="form-group form-group-default disabled">
                        <label>Disabled</label>
                        <input type="email" class="form-control" value="You can put anything here" disabled>
                      </div> -->
                    </form>
                  </div>
                </div>

                <div class="padding-20 sm-padding-5 sm-m-b-20 sm-m-t-20 bg-white clearfix">
                  <ul class="pager wizard no-style">
                    <li class="next">
                      <button class="btn btn-primary btn-cons btn-animated from-left fa fa-arrow-right pull-right" type="button">
                        <span>Next</span>
                      </button>
                    </li>
                    <li class="next finish hidden">
                      <button class="btn btn-primary btn-cons btn-animated from-left fa fa-cog pull-right" type="button">
                        <span>Finish</span>
                      </button>
                    </li>
                    <li class="previous first hidden">
                      <button class="btn btn-default btn-cons btn-animated from-left fa fa-cog pull-right" type="button">
                        <span>First</span>
                      </button>
                    </li>
                    <li class="previous">
                      <button class="btn btn-default btn-cons pull-right" type="button">
                        <span>Previous</span>
                      </button>
                    </li>
                  </ul>
               </div>



                <!-- END card -->